<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/headdash.ejs %>
    </head>
    <body>
        <% include ../static/partials/navdash.ejs %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 d-none d-md-block bg-light sidebar">
                    <% include ../static/partials/sidebar.ejs %>
                </div>
                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                    <% include ../static/partials/messages.ejs %>
                    <h1>
                        <span>Property Details</span>
                        <a href="/properties/<%= property.id %>/destroy" class="btn btn-danger float-right">Delete</a>
                        <a href="/properties/<%= property.id %>/edit" class="btn btn-warning float-right">Edit</a>
                    </h1>
                    <h2><%= property.streetAddress %></h2>
                    <% if(property.streetAddress2) { %>
                        <p><%= property.streetAddress2 %></p>
                    <% } %>
                    <p><%= property.city %>,&nbsp;<%= property.state %></p>
                    <p><%= property.zipCode %></p>
                    <p><%= property.deviceId %></p>
                </main>
            </div>
        </div>

        <% include ../static/partials/baseScripts.ejs %>
    </body>
</html>